@font-face {
  font-family: 'otnvs';
  src: url(/prefix/font/otnvs.eot?54700537);
  src: url(/prefix/font/otnvs.eot?54700537#iefix) format('embedded-opentype'), url(/prefix/font/otnvs.woff?54700537) format('woff');
  font-weight: normal;
  font-style: normal;
}