@font-face {
    font-family: 'font';
    src: url('/font/font.eot?54700537');
    src: url('/font/font.eot?54700537#iefix') format('embedded-opentype'), url('/font/font.woff?54700537') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bg1 {
    background: url(/img.png) blue repeat-y fixed;
}

.bg2 {
    background: url('/img.png') red repeat-y fixed;
}

.bg3 {
    background: url("/img.png") yellow repeat-y fixed;
}